[core]
  editor = vim
  pager = less -x2
  autocrlf = input
  excludesfile = $HOME/.global_ignore
[user]
  email = sontran@berkeley.edu
  name = Son Tran
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = red reverse
  local = blue
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red bold
  new = green
  plain = white
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
  default = upstream
[pull]
  default = current
[diff]
  tool = vimdiff
  mnemonicprefix = true
[branch]
  autosetuprebase = always
[apply]
  whitespace = nowarn
[rerere]
  enabled = true
[rebase]
  autosquash = true
[sendemail]
  smtpEncryption = tls
  smtpServer = smtp.gmail.com
  smtpUser = sontran@berkeley.edu
  smtpServerPort = 587
  suppresscc = self
  confirm = always
[alias]
    la = log --oneline --all --decorate --graph
    lap = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all
