[core]
  editor = vim
  pager = less -x2
  autocrlf = input
[user]
  email = trnso@amazon.com
  name = Son Tran
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = red reverse
  local = blue
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red bold
  new = green
  plain = white
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
  default = upstream
[pull]
  default = current
  rebase = true
[diff]
  tool = vimdiff
  mnemonicprefix = true
[branch]
  autosetuprebase = always
[apply]
  whitespace = nowarn
[rerere]
  enabled = true
[rebase]
  autosquash = true
[alias]
  la = log --oneline --all --decorate --graph
  lap = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all
[commit]
	template = ~/.gitmessage
