!----------------------------------------------------------------
! Xft settings
!----------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!----------------------------------------------------------------
! XTerm settings
!----------------------------------------------------------------

XTerm*selectToClipboard: 1
XTerm*SaveLines: 9000

! Fonts
XTerm*utf8: 1
XTerm*font: -*-terminus-*-r-*-*-14-*-*-*-*-*-iso10646-*

! Colors
XTerm*background: black
XTerm*foreground: white
XTerm*color0: black
XTerm*color1: red3
XTerm*color2: green3
XTerm*color3: yellow3
XTerm*color4: blue2
XTerm*color5: magenta3
XTerm*color6: cyan3
XTerm*color7: gray90
XTerm*color8: grey50
XTerm*color9: red
XTerm*color10: green
XTerm*color11: yellow
XTerm*color12: blue
XTerm*color13: magenta
XTerm*color14: cyan
XTerm*color15: white

! Cursor
XTerm*pointerColor: white
XTerm*pointerColorBackground: black
XTerm*cursorColor: yellow
XTerm*cursorBlink: 1

!----------------------------------------------------------------
! URxvt settings
!----------------------------------------------------------------

URxvt*termName: xterm-256color
URxvt*saveLines: 9000

! Fonts
URxvt*font: xft:Bitstream Vera Sans Mono:pixelsize=12
URxvt*boldFont: xft:Bitstream Vera Sans Mono:style=bold:pixelsize=12
URxvt*italicFont: xft:Bitstream Vera Sans Mono:style=italic:pixelsize=12
URxvt*boldItalicFont: xft:Bitstream Vera Sans Mono:style=bolditalic:pixelsize=12

! Colors
URxvt*background: black
URxvt*foreground: white
URxvt*color0: black
URxvt*color1: red3
URxvt*color2: green3
URxvt*color3: yellow3
URxvt*color4: blue2
URxvt*color5: magenta3
URxvt*color6: cyan3
URxvt*color7: gray90
URxvt*colorBD: grey50
URxvt*colorIT: red
URxvt*colorUL: green
URxvt*underlineColor: yellow
URxvt*highlightColor: blue
URxvt*highlightTextColor: magenta

! Scroll bar
URxvt*scrollstyle: plain
URxvt*scrollBar_right: 1
URxvt*scrollTtyOutput: 0
URxvt*scrollWithBuffer: 1
URxvt*scrollTtyKeypress: 1
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0

! Cursor
URxvt*cursorBlink: 1
URxvt*cursorColor: cyan
URxvt*cursorColor2: white

! Perl extensions
URxvt*perl-ext-common: default,matcher,font-size
URxvt*iso14755: 0
URxvt*iso14755_52: 0

URxvt*url-launcher: /usr/bin/chromium
URxvt*matcher.button: 1
URxvt*matcher.rend.0: Uline Bold fg5
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.keysym.C-u: perl:matcher:select

URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
URxvt.keysym.C-S-Up: perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
